<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodLoop">
        <activity
            android:name=".Request_View"
            android:exported="false" />
        <activity
            android:name=".Request_Submit"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- GIA'S PAGES -->
        <activity
            android:name=".Donation_Home"
            android:exported="false" />
        <activity
            android:name=".Donation_Edit"
            android:exported="false" />
        <activity
            android:name=".Request_Select"
            android:exported="false" />
        <activity
            android:name=".Request_Active"
            android:exported="false" />
        <activity
            android:name=".Donation_Active"
            android:exported="false" /> <!-- NILESH'S PAGES -->
        <activity
            android:name=".Account_LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Account_LogOut"
            android:exported="false" /> <!-- BELLE'S PAGES -->
        <activity
            android:name=".App_Home"
            android:exported="false" />
        <activity
            android:name=".Donation_Add"
            android:exported="false" />
        <activity
            android:name=".Request_Home"
            android:exported="false" /> <!-- MICHAEL'S PAGES -->
        <activity
            android:name=".Account_Create"
            android:exported="false" />
        <activity
            android:name=".Account_Edit"
            android:exported="false" />
        <activity
            android:name=".Account_Profile"
            android:exported="false" />
        <activity
            android:name=".Donation_History"
            android:exported="false" />
        <activity
            android:name=".Request_History"
            android:exported="false" /> <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>